html, body {
    padding: 0;
    margin: 0;
    background: #EEEEEE;
}

header {
    font-family: Arial, sans-serif;
    font-size: 10pt;
    background: #AA0000;
    color: white;
    padding: 1em;
}

#content {
    width: 100%;
    padding-top: 1em;
}

form {
    width: 40%;
    padding: 2em;
    margin: 1em auto;
    background: #AA0000;
    color: #EEEEEE;
    border: 1px solid #666666;
    box-shadow : 4px 4px 8px #AAAAAA;
}

#content:last-child { margin-bottom: 0; }
#content form { display: flex; flex-direction: column; }
#content label { font-weight: bold; margin-bottom: 0.5em; }
#content input, .content textarea { margin-bottom: 1em; }
#content textarea { min-height: 12em; resize: vertical; }
